-#<p id="notice"><%= notice %></p>
-#
-#<p>
-#  <strong>Name:</strong>
-#  <%= @user.name %>
-#</p>
-#
-#<p>
-#  <strong>Age:</strong>
-#  <%= @user.age %>
-#</p>
-#
-#<%= link_to 'Edit', edit_user_path(@user) %> |
-#<%= link_to 'Back', users_path %>

= flash[:notice]

%p
  %strong
    = t('users.show.name')
  = @user.name
%p
  %strong
    = t('users.show.age')
  = @user.age
= link_to t('users.show.edit'), edit_user_path(@user), class: "btn btn-default"

= link_to t('users.show.back'), users_path, class: "btn btn-default"