%h1
  =t('carts.show.header', count: (@products.count))

= render 'layouts/flash_message'

-#= link_to 'Order', cart_path(id: product.id),  class: "btn btn-info"

-#= flash[:notice]
.panel.panel-default
  / Default panel contents
  .panel-heading Products in your cart
  .panel-body
  / Table
  %table.table
    %tbody
    %tr
      %td
        = Product.human_attribute_name('id')
      %td
        = Product.human_attribute_name('name')
      %td
        = Product.human_attribute_name('price')
      %td
        = Product.human_attribute_name('description')
    - @products.each do |product, idx|
      %tr
        %td= product.id
        %td= product.name
        %td= product.price
        %td= product.description
        %td= link_to t('carts.show.show'), product,  class: "btn btn-info"
        %td= link_to t('carts.show.destroy'), cart_path(id: product.id), method: :delete, class: "btn btn-warning"

-#%h3 Send order on your email
-#= link_to "Send Order by email", order_send_cart_path(@products), class: "btn btn-default"

= form_tag order_send_cart_path do
  %label{:for => "email"} Email
  = text_field_tag :email
  = submit_tag "Send Order by Email"
