%h1
  =t('carts.show.header', count: (@products.count))

= render 'layouts/flash_message'

-#= flash[:notice]
.panel.panel-default
  / Default panel contents
  .panel-heading Products in your cart
  .panel-body
  / Table
  %table.table
    %tbody
    %tr
      %td ID:
      %td Name:
      %td Price:
      %td Description:
    - @products.each do |product, idx|
      %tr
        %td= product.id
        %td= product.name
        %td= product.price
        %td= product.description
        %td= link_to 'Show', product,  class: "btn btn-info"
        %td= link_to 'Destroy', cart_path(id: product.id), method: :delete, class: "btn btn-warning"