-#= flash[:notice]
%h1 Products in your cart

%table
  %tbody
    %tr
      %td ID:
      %td Name:
      %td Price:
      %td Description:
    - @products.each do |product|
      %tr
        %td= product.id
        %td= product.name
        %td= product.price
        %td= product.description
        %td= link_to 'Show', product
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

-#<table>
-#  <tr>
-#    <th>ID</th>
-#    <th>Link to product</th>
-#    <th>Name</th>
-#    <th>Price</th>
-#    <th>Description</th>
-#  </tr>
-#
-#  <% @products.each do |product| %>
-#    <tr>
-#      <td><%= product.id %></a></td>
-#      <td><a href="/products/<%= product.id %>"><%= "/products/" + "#{product.id}" %></a></td>
-#      <td><%= product.name %></td>
-#      <th><%= product.price %></a></th>
-#      <th><%= product.description %></a></th>
-#      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-#    </tr>
-#  <% end %>
-#</table>