-#<%= form_for(product) do |f| %>
-#  <% if product.errors.any? %>
-#    <div id="error_explanation">
-#      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
-#
-#      <ul>
-#      <% product.errors.full_messages.each do |message| %>
-#        <li><%= message %></li>
-#      <% end %>
-#      </ul>
-#    </div>
-#  <% end %>
-#
-#  <div class="field">
-#    <%= f.label :name %>
-#    <%= f.text_field :name %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :price %>
-#    <%= f.number_field :price %>
-#  </div>
-#
-#    <div class="field">
-#      <%= f.label :description %>
-#      <%= f.text_field :description %>
-#    </div>
-#
-#  <div class="actions">
-#    <%= f.submit %>
-#  </div>
-#<% end %>

-# the below form works
%h1 New Product
= form_tag @product  do
  = label_tag :Name
  = text_field_tag :name
  %br/
  = label_tag :Price
  = number_field_tag :price
  %br/
  = label_tag :Description
  = text_area_tag :description
  %br/
  = submit_tag 'Save!', class: 'btn btn-success'


-# the below form is not working
%form.form-inline
  .form-group
    %label.sr-only Name
    %input.form-control{:placeholder => "Name of product", :type => :name}/
  .form-group
    %label.sr-only Password
    %input.form-control{:placeholder => "Price", :type => :price}
  .form-group
    %label.sr-only Description
    %input.form-control{:placeholder => "Description", :type => :descripton}/
  %button.btn.btn-primary{:submit_tag => 'Save!' } Save