-#
-#<!--<p id="notice"><%= notice %></p>-->
-#
-#<!--<p>-->
-#  <!--<strong>Name:</strong>-->
-#  <!--<%= @product.name %>-->
-#<!--</p>-->
-#
-#<!--<p>-->
-#  <!--<strong>Description:</strong>-->
-#  <!--<%= @product.description %>-->
-#<!--</p>-->
-#
-#<!--<p>-->
-#  <!--<strong>Price:</strong>-->
-#  <!--<%= @product.price %>-->
-#<!--</p>-->
-#
-#<!--<%= link_to 'Back', products_path %>-->
-#s

= flash[:notice]
%p
  %strong
    =t('products.show.name') + '=>'
  = @product.name
%p
  %strong
    =t('products.show.description') + '=>'
  = @product.description
%p
  %strong
    =t('products.show.price') + '=>'
  = @product.price


= link_to t('products.show.back'), products_path, class: "btn btn-default"