-#
-#<!--<p id="notice"><%= notice %></p>-->
-#
-#<!--<p>-->
-#  <!--<strong>Name:</strong>-->
-#  <!--<%= @product.name %>-->
-#<!--</p>-->
-#
-#<!--<p>-->
-#  <!--<strong>Description:</strong>-->
-#  <!--<%= @product.description %>-->
-#<!--</p>-->
-#
-#<!--<p>-->
-#  <!--<strong>Price:</strong>-->
-#  <!--<%= @product.price %>-->
-#<!--</p>-->
-#
-#<!--<%= link_to 'Back', products_path %>-->
-#s

= flash[:notice]
%p
  %strong Name:
  = @product.name
%p
  %strong Description:
  = @product.description
%p
  %strong Price:
  = @product.price


= link_to 'Back', products_path