%h1
  = "The new product '#{@product.name}' has just been added to cart"


.panel.panel-default
  / Default panel contents
  .panel-heading Products in your cart
  .panel-body
  / Table
  %table.table
    %tbody
    %tr
      %td
        = Product.human_attribute_name('id')
      %td
        = Product.human_attribute_name('name')
      %td
        = Product.human_attribute_name('price')
      %td
        = Product.human_attribute_name('description')
    - @products.each do |product, idx|
      %tr
        %td= product.id
        %td= product.name
        %td= product.price
        %td= product.description
        %td= link_to t('carts.show.show'), product,  class: "btn btn-info"
        %td= link_to t('carts.show.destroy'), cart_path(id: product.id), method: :delete, class: "btn btn-warning"