-#<!DOCTYPE html>
-#<html>
-#  <head>
-#    <title>Ishop</title>
-#    <%= csrf_meta_tags %>
-#
-#    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
-#    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
-#  </head>
-#
-#  <body>
-#    <%= link_to image_tag('icon_cart.png', size: '40x40'), carts_show_path %>
-#    <%= yield %>
-#  </body>
-#</html>

!!!
%html
  %head
    %title Ishop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = link_to 'EN', '?locale=en', class: "btn btn-default"
    = link_to 'UA', '?locale=ua', class: "btn btn-default"
    = link_to 'Products', products_path, class: "btn btn-default"
    = link_to 'Users', users_path, class: "btn btn-default"
    = link_to image_tag('icon_cart.png', size: '40x40'), carts_show_path
    = yield